# .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json

# Node
node_modules/
dist/
.angular/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Secrets
*.env
secrets.json

# IDE
.idea/
.vscode/settings.json
